{
  "embeds": [
    {
      "title": "**** has been restarted.",
      "description": "",
      "color": 3e5087,
      "fields": [],
      "footer": {
        "icon_url": "https://i.imgur.com/dcg1OTp.png"
      },
      "timestamp": "",
      "thumbnail": {
        "url": "https://i.imgur.com/2ZSHVot.png"
      },
      "author": {
        "icon_url": "https://i.imgur.com/37QMCel.png",
        "name": "Notice: "
      }
    }
  ]
}