---
- System:
    - Portainer:
        icon: si-portainer
        href: http://mocha:9002
        description: Manage containers
        container: portainer
        widget:
          hideErrors: true
          type: portainer
          url: http://mocha:9002
          env: 1
          key: "ptr_hwUkkNR2XHWVtghjfT3v2WLGQ+IGlXqyaAyucMoRAqw=" #gitignore
    - NginxPM:
        icon: si-nginxproxymanager
        href: http://mocha:81
        description: Define routing here
        container: nginxproxymanager
- Info:
  - Grafana:
        icon: si-grafana
        href: http://mocha:3000
        description: Monitor activity, stats
        container: grafana
  - Prometheus:
        icon: si-prometheus
        href: http://mocha:9090
        description: Verify monitoring is working
        container: prometheus
        widget:
          type: prometheus
          url: http://prometheus:9090
  - cAdvisor:
        icon: si-docsdotrs
        href: http://mocha:8080
        description: Container monitoring data
        container: prometheus-cadvisor
- Services:
    - SillyTavern:
        icon: /images/st.png
        href: http://mocha:65085
        description: Chat with bots
        container: sillytavern
    - 4get:
        icon: si-4chan
        href: http://find.nanachi.store
        description: Search engine
        container: 4get
- Media:
    - Transmission:
        icon: si-transmission
        href: http://mocha:9091
        description: Torrent server
        container: transmission
    - Minecraft:
        icon: si-minetest
        description: Game server
        container: minecraft
    - Handbrake:
        icon: si-ffmpeg
        href: http://mocha:5800
        description: Video encoding
        container: handbrake
- Containers:
    - Telegraf:
        icon: si-influxdb
        container: telegraf
    - InfluxDB-Exporter:
        icon: si-influxdb
        container: influxdb
    - Watchtower:
        icon: si-googlecloudstorage
        container: watchtower
    - iSponsorBlockTV:
        icon: si-youtube
        container: iSponsorBlockTV
    - CloudflareDDNS:
        icon: si-cloudflare
        container: cloudflare-ddns
    - ArchiveWarrior:
        icon: si-internetarchive
        container: archiveteam-warrior