---
- System:
    - Portainer:
        icon: si-portainer
        href: http://mocha:9002
        description: Manage containers
        container: portainer
        widget:
          hideErrors: true
          type: portainer
          url: http://mocha:9002
          env: 1
          key: "ptr_hwUkkNR2XHWVtghjfT3v2WLGQ+IGlXqyaAyucMoRAqw=" #gitignore
    - NginxPM:
        icon: si-nginxproxymanager
        href: http://mocha:81
        description: Define routing here
        container: nginxproxymanager
- Info:
  - Grafana:
        icon: si-grafana
        href: http://mocha:3000
        description: Monitor activity, stats
        container: grafana
        widget:
          hideErrors: true
          type: grafana
          url: http://grafana:3000
          username: "homepage"
          password: "glsa_e8fjNByfYTOMTY6b9FyXDsCQhJ0cMfUV_9d98efcc"
  - Prometheus:
        icon: si-prometheus
        href: http://mocha:9090
        description: Verify monitoring is working
        container: prometheus
        widget:
          type: prometheus
          url: http://prometheus:9090
- Services:
    - SillyTavern:
        href: http://mocha:65085
        description: Chat with bots
        container: sillytavern
    - 4get:
        icon: si-4chan
        href: http://find.nanachi.store
        description: Search engine
        container: 4get
- Media:
    - Jellyfin:
        icon: si-jellyfin
        href: http://mocha:1000
        description: Media server
- Containers:
    - Telegraf:
        icon: si-influxdb
        container: telegraf
    - InfluxDB-Exporter:
        icon: si-influxdb
        container: influxdb
    - iSponsorBlockTV:
        icon: si-youtube
        container: iSponsorBlockTV
    - CloudflareDDNS:
        icon: si-cloudflare
        container: cloudflare-ddns
    - Cloudflare-Exporter:
        icon: si-cloudflare
        container: cloudflare-exporter