title: "Tailscale homepage :: mocha"
startUrl: mocha
cardBlur: md # sm, "", md, etc... see https://tailwindcss.com/docs/backdrop-blur
favicon: ./images/favicon.ico
background: ./images/wallapaper.png
iconStyle: theme # optional, defaults to gradient
theme: dark # or light
headerStyle: boxed
color: slate

layout:
  headerStyle: clean
  System:
    style: row
    columns: 3
  Info:
    style: column
    columns: 2
  Services:
    style: column
    columns: 2
  Media:
    style: column
    columns: 2
  Containers:
    style: column
    columns: 5

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: false
  hideVisitURL: false

